$font-text: "Muli", Sans-Serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: $font-text;
  line-height: 1.5;
}

.container {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

&::before {
  content: "";
  background-image: url(https://i.postimg.cc/3xHt2g6h/fadilah-n-imani-2-Hk-Xc-DPn-Gh4-unsplash.jpg);
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.25;
}

h3 {
  font-size: 44px;
  padding-top: 70px;
}

p {
  font-size: 26px;
}

h3,
p {
  text-align: center;
}

#buttons {
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;
}

#button-rock,
#button-paper,
#button-scissors {
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 28px;
  background-color: none;
  border-radius: 15px;
}

#messages {
  text-align: center;
  font-size: 26px;
}
#result {
  font-family: $font-text;
}
